ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: none;
}
.navigation
{
    height: 30px;
    width: 400px;
    padding: none;
    margin: auto;
}